html, body {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: rgb(65, 51, 51);
    color:white;
    font-family: 'Open Sans', sans-serif;

}

#content{
display: flex;
height: 100%;
background-color:  rgb(197, 200, 198);
}

#sidebar{
    width:15%;
    padding: 20px;
    background-color:  	rgb(171, 210, 233);
    font-family: 'Open Sans', sans-serif;
}



#body-container{
    width: 85%;
    margin-left: 10px;
}


#new-project-btn {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


li {
  list-style: none;
  font-family: 'Kalam', cursive;
}
.addedTask {
    margin: 1%;
    padding: 1%;
    position: relative;
    background-color: #c5c8c6;
    border-radius: 10px;
    box-shadow: .75rem 0 2.5rem rgb(85, 70, 70);
    margin-left: 10px;
  }
  .taskBar {
    width: 50%; 
  }
  


  .taskBtns {
    float: right;
  }

  .taskInfoBox {

    display: none;
    margin: 1%;
    padding: 1%;
    position: absolute;
    width: 50%;
    right: 0px;
    background-color: #8d6e19;
    border-radius: 10px;
    box-shadow: .75rem 0 2.5rem rgb(85, 70, 70);
    margin-left: 10px;
  }


  .input-section{
    display: inline-block;
    padding: 1rem 1rem;
    float: right;
    vertical-align: middle;
  }

  #task-btn{
    margin-left: -50px;
    height: 25px;
    width: 50px;
    color: blue;    
    float: right;
    border: 0;
    -webkit-appearance: none;
    
  }

  #projectTitle {

    font-family: 'Righteous', cursive;
  }
  .material-icons{
    float: right;
  }


  @media screen and (max-width: 600px) {
#sidebar {
  width: 30%;  
}


  }